@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D9E6F7;
    --foreground: #ededed;
  }
}

body {
  background: #D9E6F7;
  font-family: var(--font-inter);
}
